@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <a  asp-controller="LINQ" asp-action="Eample17" class="btn btn-primary">Example17</a>
</div>
